<div id="payment-info-modal" class="reveal-modal" data-reveal>
<div style="font-size:1.25em">繳款及確認資訊</div>
<br>
<%= (current_user.department.payment_info ? current_user.department.payment_info.html_safe : nil)||'請洽詢系學會以取得匯款及確認資訊' %>
<a class="close-reveal-modal">&#215;</a>
</div>
<div class="no-payments <%= 'hide' unless @payments.empty? %>">
你沒有訂任何書喔
</div>
<% if !@payments.empty? %>
  <div class="small-12  small-centered column">
    <dl class="accordion payment-accordion" data-accordion data-options="multi_expand: true">
      <%= render partial: 'accordion', collection: @payments, as: :p %>
    </dl>
  </div>
<% end %>
