<div class="small-4">
<table>
<tr><th>Department</th><th>Status</th><th>Recievable</th></tr>
<% @departments.each do |d|%>
	<tr>
		<td><%=d.dept_name %></td>
		<td><%=d.settings.phase%></td>
		<td><%=d.total_recievable%></td>
	</tr>
<% end %>
</table>
</div>