<%= form_tag users_book_department_path ,method: :get ,remote: true,  class: 'small-2 small-centered columns user-search-form' do%>
  <div class="row collapse">
    <div class="small-10 columns">
      <%= text_field_tag 'search', nil, placeholder:"搜尋" , class: 'dept-user-search-field' %>
    </div>
    <div class="small-2 columns">
      <%= button_tag(class: 'button postfix') do%>
        <i class="fi-magnifying-glass"></i>
      <% end %>
    </div>
  </div>
<% end %>