<div id="user-detail-modal" class="reveal-modal small" data-reveal>
</div>
<div id="user-book-list-modal" class="reveal-modal" data-reveal>
</div>
<div class="small-12 columns">
	<div class="dept-user-search">
		<%= render partial: 'users_search'%>
	</div>
	<div class="users-table small-10 small-centered columns">
		<table class="small-12">
			<thead>
			<tr> 
				<th class="text-center" style="width:3%">#</th>
				<th class="text-center" style="width:6%">帳號</th>
				<th class="text-center" style="width:6%">待確認訂單</th>
				<th class="text-center" style="width:6%">已完成訂單</th>
				<th class="text-center" style="width:6%">已付款金額</th>
				<% if current_book_department.has_member %>
				<th class="text-center" style="width:5%">會員?</th>
				<% end %>
				<th class="text-center" style="width:15%">動作</th>
			</tr>
			</thead>
			<tbody>
				<tr class="dept-no-users<%= " hide" unless @users.empty? %>">
					<td>無資料<td>
				</tr>
				<%= render(partial: 'users_table', collection: @users, as: :user)%>
			</tbody>
			<tfoot>
				
			</tfoot>
		</table>
	</div>
	<div class="pagination-centered users-pagination">
		<%= paginate(@users, remote: true, outer_window: 1, window: 2) %>
	</div>
</div>