// Place all the styles related to the book/product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-box{
  border:1px solid black;
}
.book-not-purchased{
  >.cancel-button{
    display:none
  }
  >.checked-out-button{
    display:none
  }
}
.book-purchased{
  >.purchase-form{
    display:none
  }
  >.checked-out-button{
    display:none
  }
}
.book-checked-out{
  >.purchase-form{
    display:none
  }
  >.cancel-button{
    display:none
  }
}
.input-button{
  @include button($is-input:true);
}